body {
  margin: 0;
  font-family: 'Noto Sans Bengali', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

header{
  background-color: #e3dbd0;
}

nav{
  background-color: #e3dbd0;
  font-size: large;
  font-weight: 700;
}